@model MpdaTest.Models.PassingTestModel;    
<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Прохождение теста</title>
      

    <link rel="stylesheet" href="nicepage.css" media="screen">
<link rel="stylesheet" href="TetsPage.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 5.1.5, nicepage.com">
    <meta name="referrer" content="origin">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    

  <meta charset="utf-8">
  <title>Гистограмма</title>
  <script src="/js/loader.js"></script>


    
    

    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="TetsPage">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-xl-mode" data-lang="ru">

    <section class="u-align-center u-clearfix u-section-1" id="sec-e832">
         
        <h2 style="text-align:center">@Model.Name</h2>
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
          <div class="">
           <div class="u-container-layout u-container-layout-12">
               @if (Model.url!=null && Model.bytes!=null)
               {
                 <a href="@Model.url"><img class="u-align-center u-expanded-width u-image u-image-contain u-image-default u-image-2" style="max-height: 600px;" src="data:image/jpg;base64,@(Convert.ToBase64String(Model.bytes))"  ></a>     
               }
               else
               {
                    if ( Model.bytes!=null)
                   {
                    <img class="u-align-center u-expanded-width u-image u-image-contain u-image-default u-image-2" style="max-height: 600px;" src="data:image/jpg;base64,@(Convert.ToBase64String(Model.bytes))" >

                   }
               }
               <h2 style="text-align:center">@Model.Opisanie</h2>  
               
                                <div class="u-container-layout u-container-layout-3">
                                    <div class="u-form u-form-3">
                                        <!-- Добавление Описания -->
                                      <form method="POST" enctype="multipart/form-data" source="custom" style="padding: 10px;" asp-controller="Home" asp-action="OpisMember">
                                       <input type="hidden" value="@Model.ID" required="" asp-for="OpisCreate.IDTestSistem" >

                                          <div class="u-form-group u-form-message">
                                          <label for="message-36ae" class="u-label">Описание теста</label>
                                          <input type="text" placeholder="Введите описание теста" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" asp-for="OpisCreate.Opis"  value="@Model.Opisanie">
                                        </div>
                                            <div class="u-form-group u-form-message">
                                          <label for="message-36ae" class="u-label">Ссылка изображения</label>
                                          <input type="text" placeholder="Ссылка которая будет открываться при нажатии на изображение" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" asp-for="OpisCreate.Link"  value="@Model.url">
                                        </div>
                                            <div class="u-form-group u-form-message">
                                          <label for="message-36ae" class="u-label">Изображение</label>
                                        <input type="file" asp-for="OpisCreate.FileBinar" accept="" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" >
                                        </div>
                                         <div class="u-align-left u-form-group u-form-submit">
                                          <a href="#" class="u-btn u-btn-submit u-button-style">Сохранить</a>
                                          <input type="submit" value="submit" class="u-form-control-hidden">
                                        </div>
                                       

                                      <input name="__RequestVerificationToken" type="hidden" value="CfDJ8G-AlVTiSBlEhJaAdIc9d6F-hdUbAOgqlwbTOfNs38CFGZax3I_5aflWBqqzDrcwQ3SPMIHV3g0Xfyh7C2ZZi9mzqTc_AfX4eXMu4gpTOw3JL0tpcfHQ_KsBLtTQ10eWEvkZQP6Lt1V6rfBWHakgLX0"></form>
                                    </div>
                                </div>


                                <div class="u-container-layout u-container-layout-3">
                                    <div class="u-form u-form-3">
                                        <!-- Добавление темы -->
                                      <form method="post" style="padding: 10px;" asp-controller="Home" asp-action="CreateTheme">
                                       <input type="hidden" value="@Model.ID" required="" asp-for="createTheme.IdTest"  >

                                          <div class="u-form-group u-form-message">
                                          <label for="message-36ae" class="u-label">Название темы</label>
                                          <input asp-for="createTheme.Name"  type="text" placeholder="Введите название темы" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required=""  value="">
                                        </div>
                                         <div class="u-align-left u-form-group u-form-submit">
                                          <a href="#" class="u-btn u-btn-submit u-button-style">Добавить</a>
                                          <input type="submit" value="submit" class="u-form-control-hidden">
                                        </div>
                                       

                                      <input name="__RequestVerificationToken" type="hidden" value="CfDJ8G-AlVTiSBlEhJaAdIc9d6F-hdUbAOgqlwbTOfNs38CFGZax3I_5aflWBqqzDrcwQ3SPMIHV3g0Xfyh7C2ZZi9mzqTc_AfX4eXMu4gpTOw3JL0tpcfHQ_KsBLtTQ10eWEvkZQP6Lt1V6rfBWHakgLX0"></form>
                                    </div>
                                </div>
           </div>
          </div>
          <div class="u-container-layout u-container-layout-3">
                                  
          </div>
            

                    @for (int i = 0; i < Model.passingThemes.Count(); i++)
                    {
                        <a href="@Url.Action("DeleteTheme","Home", new{IdTest=Model.ID,IdTheme=Model.passingThemes[i].ID })" class="submit-btn">Удалить тему</a>
                        <h2 style="text-align:center">@Model.passingThemes[i].Name</h2>

                        <input type="hidden" asp-for="passingThemes[i].ID" value="@Model.passingThemes[i].ID">
                        //Передача id темы

                        for (int iS = 0; iS < Model.passingThemes[i].testSortsList.Count(); iS++)
                        {
                        int item = 0;
                        switch (Model.passingThemes[i].testSortsList[iS].Type)
                        {
                            case "CloseTest":
                                var Close = Model.passingThemes[i].ClosePassingsList.Where(x => x.Id == Model.passingThemes[i].testSortsList[iS].IDques).FirstOrDefault();
                                if (Close != null)
                                {
                                    item = Model.passingThemes[i].ClosePassingsList.IndexOf(Close);
                                    <div class="col-lg-12" style="text-align: left;">
                                        <a href="@Url.Action("DeleteQuestion","Home",new{IdTest = @Model.ID, IDques =Model.passingThemes[i].ClosePassingsList[item].Id, Type = Model.passingThemes[i].testSortsList[iS].Type})" class="submit-btn">Удалить вопрос</a><br>
                                        <a href="/home/EditQuestion/762?Type=CloseTest&amp;IdTest=67" style="margin-right: 20px" class="submit-btn">Редактировать вопрос</a>
                                        </div>
                                    <p class="u-form-group u-form-text u-text u-text-2" style="color: #8b680c;">@Model.passingThemes[i].ClosePassingsList[item].Name<br> </p>
                                    <input type="hidden" asp-for="passingThemes[i].ClosePassingsList[item].Id"    value="@Model.passingThemes[i].ClosePassingsList[item].Id">
                                    //Передача id


                                    <div class="u-form-radio-button-wrapper" style="margin-bottom: 20px;text-align: left;">

                                        @for (int ItemAnswer = 0; ItemAnswer < Model.passingThemes[i].ClosePassingsList[item].answerTs.Count(); ItemAnswer++)
                                        {
                                            <div class="u-input-row">
                                                <input type="radio" asp-for="@Model.passingThemes[i].ClosePassingsList[item].AnswerTSelect" value="@Model.passingThemes[i].ClosePassingsList[item].answerTs[ItemAnswer].ID" checked="checked" >
                                                @if (Model.passingThemes[i].ClosePassingsList[item].answerTs[ItemAnswer].TextUser != null)
                                                {
                                                    <label class="u-label" for="radiobutton">@Model.passingThemes[i].ClosePassingsList[item].answerTs[ItemAnswer].TextUser</label>
                                                }
                                                else
                                                {
                                                    <label class="u-label" for="radiobutton">@Model.passingThemes[i].ClosePassingsList[item].answerTs[ItemAnswer].Text</label>
                                                }

                                            </div>
                                        }


                                    </div>






                                }


                                break;

                            case "OpenTest":

                                var Open = Model.passingThemes[i].openPassingsList.Where(x => x.ID == Model.passingThemes[i].testSortsList[iS].IDques).FirstOrDefault();
                                if (Open != null)
                                {
                                    item = Model.passingThemes[i].openPassingsList.IndexOf(Open);
                                    <div class="col-lg-12" style="text-align: left;">
                                        <a href="@Url.Action("DeleteQuestion","Home",new{IdTest = @Model.ID, IDques =Model.passingThemes[i].openPassingsList[item].ID, Type = Model.passingThemes[i].testSortsList[iS].Type})" class="submit-btn">Удалить вопрос</a><br>
                                        <a href="/home/EditQuestion/762?Type=CloseTest&amp;IdTest=67" style="margin-right: 20px" class="submit-btn">Редактировать вопрос</a>
                                        </div>
                                    <p class="u-form-group u-form-text u-text u-text-1" style="color: #8b680c;">@Model.passingThemes[i].openPassingsList[item].Name</p>

                                    <input type="hidden" asp-for="passingThemes[i].openPassingsList[item].ID"    value="@Model.passingThemes[i].openPassingsList[item].ID">
                                    //Передача id
                                    <textarea placeholder="Введите ответ на вопрос" rows="4" cols="50" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" asp-for="passingThemes[i].openPassingsList[item].Text" ></textarea>

                                }


                                break;

                            case "TableTest":
                                    var Table = Model.passingThemes[i].TablePassings.Where(x => x.Id == Model.passingThemes[i].testSortsList[iS].IDques).FirstOrDefault();
                                    item = Model.passingThemes[i].TablePassings.IndexOf(Table);
                                    if (Table!=null)
                                    {   
                                        <div class="u-expanded-width u-table u-table-responsive u-table-1">
                                            <h3 style="text-align:center">@Table.Name</h3>
                                            <div class="col-lg-12" style="text-align: left;">
                                        <a href="@Url.Action("DeleteQuestion","Home",new{IdTest = @Model.ID, IDques = Model.passingThemes[i].TablePassings[item].Id, Type = Model.passingThemes[i].testSortsList[iS].Type})" class="submit-btn">Удалить вопрос</a><br>
                                        <a href="/home/EditQuestion/762?Type=CloseTest&amp;IdTest=67" style="margin-right: 20px" class="submit-btn">Редактировать вопрос</a>
                                        </div>
                                            <table class="u-table-entity u-table-entity-1">

                                                <colgroup>
                                                        <col width="20%">
                                                        <col width="20%">
                                                        <col width="20%">
                                                        <col width="20%">
                                                        <col width="20%">

                                                </colgroup>

                                                <thead class="u-black u-table-header u-table-header-1">
                                                    <tr style="height: 21px;">
                                                        <th class="u-border-1 u-border-black u-table-cell"> 
                                                            @Table.Opisanie
                                                        </th>

                                                            @for (int iNameQ = 0; iNameQ <Model.passingThemes[i].TablePassings[item].TableThemes[0].TableQues.Count(); iNameQ++)
                                                            {
                                                             <th class="u-border-1 u-border-black u-table-cell">@Model.passingThemes[i].TablePassings[item].TableThemes[0].TableQues[iNameQ].Name</th>

                                                            }


                                                            

                                                    </tr>
                                                </thead>

                                                <tbody class="u-table-body">

                                                            @for (int iThemeTable = 0; iThemeTable <Model.passingThemes[i].TablePassings[item].TableThemes.Count(); iThemeTable++)
                                                            {
                                                              <input type="hidden" asp-for="passingThemes[i].TablePassings[item].TableThemes[iThemeTable].ID"    value="@Model.passingThemes[i].TablePassings[item].TableThemes[iThemeTable].ID">
                                                              <tr style="height: 75px;">
                                                                <td class="u-border-1 u-border-grey-30 u-table-cell">@Model.passingThemes[i].TablePassings[item].TableThemes[iThemeTable].Name</td>

                                                                    @for (int iQ = 0; iQ <Model.passingThemes[i].TablePassings[item].TableThemes[iThemeTable].TableQues.Count(); iQ++)
                                                                    {
                                                                        <input type="hidden" asp-for="passingThemes[i].TablePassings[item].TableThemes[iThemeTable].TableQues[iQ].ID" value="@Model.passingThemes[i].TablePassings[item].TableThemes[iThemeTable].TableQues[iQ].ID">
                                                                        <td class="u-border-1 u-border-grey-30 u-table-cell">
                                                                                <select style="width: -moz-available;background-color: #0000;border-radius: 7px;border-width: 2px !important;;border: groove;" title="@Model.passingThemes[i].TablePassings[item].TableThemes[iThemeTable].TableQues[iQ].Name @Model.passingThemes[i].TablePassings[item].TableThemes[iThemeTable].Name " data-val="true" asp-for="passingThemes[i].TablePassings[item].TableThemes[iThemeTable].TableQues[iQ].Count" >

                                                                                    @if (!Model.passingThemes[i].TablePassings[item].IsRec)
                                                                                    {
                                                                                        <option value="0" selected="selected">Нет ответа</option>
                                                                                    }

                                                                                        
                                                                                    <option value="1">1 балл</option>
                                                                                    <option value="2">2 балла</option>
                                                                                    <option value="3">3 балла</option>
                                                                                    <option value="4">4 балла</option>
                                                                                    <option value="5">5 баллов</option>

                                                                                </select>
                                                                        </td>
                                                                    }

                                                                

                                                              </tr>
                                                            
                                                            }
                                                            

                                                        
                                                  


                                                </tbody>
                                            </table>
                                         </div>



                                    }

                                break;



                        }
                       
                    }
                    
                         <div class="u-tab-links-align-center u-tabs u-tabs-1">
                              <ul class="u-tab-list u-unstyled" role="tablist">
                                <li class="u-tab-item" role="presentation">
                                  <a class="active u-button-style u-tab-link" id="link-tab-b528" href="#tab-b528" role="tab" aria-controls="tab-b528" aria-selected="true">Открытый вопрос</a>
                                </li>
                                <li class="u-tab-item" role="presentation">
                                  <a class="u-button-style u-tab-link" id="link-tab-6c10" href="#tab-6c10" role="tab" aria-controls="tab-6c10" aria-selected="false">Таблица</a>
                                </li>
                                <li class="u-tab-item" role="presentation">
                                  <a class="u-button-style u-tab-link" id="link-tab-dbe0" href="#tab-dbe0" role="tab" aria-controls="tab-dbe0" aria-selected="false">Вопрос с ответами</a>
                                </li>
                              </ul>
                              <div class="u-tab-content">
                                <div class="u-container-style u-tab-active u-tab-pane" id="tab-b528" role="tabpanel" aria-labelledby="link-tab-b528">
                                  <div class="u-container-layout u-container-layout-1">
                                    <div class="u-form u-form-1">

                                        <!-- Добавление открытого вопроса -->
                                      <form method="post" style="padding: 10px;" asp-action="CreateOpen" asp-controller="Home">
                                           <input type="hidden" value="@Model.ID" required=""  asp-for="createOpen.IdTest">
                                            <input type="hidden" value="@Model.passingThemes[i].ID" required="" asp-for="createOpen.IdTheme">

                                            <div class="u-form-group u-form-message">
                                              <label for="message-36ae" class="u-label">Текст вопроса</label>
                                              <textarea placeholder="Введите вопрос" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="" asp-for="createOpen.Name"></textarea>
                                            </div>
                                            <div class="u-form-checkbox u-form-group u-form-group-2">
                                              <input type="checkbox" asp-for="createOpen.IsRec" value="true">
                                              <label for="checkbox-3fcb" class="u-label">Обязательный вопрос</label>
                                            </div>
                                            <div class="u-align-left u-form-group u-form-submit">
                                              <a href="#" class="u-btn u-btn-submit u-button-style">Добавить</a>
                                              <input type="submit" value="submit" class="u-form-control-hidden">
                                            </div>

                                      </form>
                                    </div>
                                  </div>
                                </div>
                                <div class="u-container-style u-tab-pane" id="tab-6c10" role="tabpanel" aria-labelledby="link-tab-6c10">
                                  <div class="u-container-layout u-container-layout-2">
                                    <div class="u-form u-form-2">

                                        <!-- Добавление таблицы -->
                                      <form method="post" style="padding: 10px;" asp-action="CreateTable" asp-controller="Home">
                                       <input type="hidden" value="@Model.ID" required="" data-val="true" data-val-required="The IDTestSistem field is required." asp-for="CreateTable.IdTest">
                                        <input type="hidden" value="@Model.passingThemes[i].ID" required="" asp-for="CreateTable.IdTheme">

                                          <div class="u-form-group u-form-message">
                                            <label for="message-63ce" class="u-label">Название таблицы</label>
                                          <textarea class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="" asp-for="CreateTable.TableName"></textarea>
                                          </div>

                                          <div class="u-form-group u-form-message">
                                          <label for="message-63ce" class="u-label">Описание первой ячейки</label>
                                          <textarea class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="" asp-for="CreateTable.TableDes"></textarea>
                                        </div>

                                        <div class="u-form-group u-form-message">
                                          <label for="message-63ce" class="u-label">Темы</label>
                                          <textarea class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="" asp-for="CreateTable.Themes"></textarea>
                                        </div>

                                        <div class="u-form-group u-form-textarea u-form-group-5">
                                          <label for="textarea-ed30" class="u-label">Вопросы</label>
                                          <textarea class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="" asp-for="CreateTable.Q"></textarea>
                                        </div>

                                        <div class="u-form-checkbox u-form-group u-form-group-2">
                                          <input type="checkbox" data-val="true" data-val-required="The IsRec field is required." asp-for="CreateTable.IsRec" value="true">
                                          <label for="checkbox-3fcb" class="u-label">Обязательный вопрос</label>
                                        </div>

                                        <div class="u-align-left u-form-group u-form-submit">
                                          <a href="#" class="u-btn u-btn-submit u-button-style">Добавить</a>
                                          <input type="submit" value="submit" class="u-form-control-hidden">
                                        </div>


                                      </form>
                                    </div>
                                  </div>
                              </div>
                                <div class="u-container-style u-tab-pane" id="tab-dbe0" role="tabpanel" aria-labelledby="link-tab-dbe0">
                                  <div class="u-container-layout u-container-layout-3">
                                    <div class="u-form u-form-3">
                                        <!-- Добавление вопроса с ответами -->


                                      <form method="post" style="padding: 10px;" asp-action="CreateVopr" asp-controller="Home">
                                       <input type="hidden" value="@Model.ID" required=""  asp-for="createAnswer.IdTest">
                                            <input type="hidden" value="@Model.passingThemes[i].ID" required="" asp-for="createAnswer.IdTheme">

                                          <div class="u-form-group u-form-message">
                                          <label for="message-36ae" class="u-label">Текст вопроса</label>
                                          <textarea placeholder="Введите вопрос" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="" asp-for="createAnswer.TextOtvTest" ></textarea>
                                        </div>
                                        <div class="u-form-group u-form-textarea u-form-group-5">
                                          <label for="textarea-ed30" class="u-label">Ответы</label>
                                          <textarea class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" asp-for="createAnswer.Q"></textarea>
                                        </div>
                                         <div class="u-form-checkbox u-form-group u-form-group-2">
                                          <input type="checkbox" data-val="true" data-val-required="The IsRec field is required." asp-for="createAnswer.IsRec" value="true">
                                          <label for="checkbox-3fcb" class="u-label">Обязательный вопрос</label>
                                        </div>
                                        <p class="news__item-date" style="text-align: left;">*При пустом поле "Ответы" автоматически присваиваются варианты ответов от 1 до 5*</p>
                                        <p class="news__item-date" style="text-align: left;">*Каждая новая строка в поле ответ соответсвует варианту ответа по возрастанию от 1*</p>
                                        <div class="u-align-left u-form-group u-form-submit">
                                          <a href="#" class="u-btn u-btn-submit u-button-style">Добавить</a>
                                          <input type="submit" value="submit" class="u-form-control-hidden">
                                        </div>

                                      <input name="__RequestVerificationToken" type="hidden" value="CfDJ8G-AlVTiSBlEhJaAdIc9d6F-hdUbAOgqlwbTOfNs38CFGZax3I_5aflWBqqzDrcwQ3SPMIHV3g0Xfyh7C2ZZi9mzqTc_AfX4eXMu4gpTOw3JL0tpcfHQ_KsBLtTQ10eWEvkZQP6Lt1V6rfBWHakgLX0"><input name="IsRec" type="hidden" value="false"></form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                }
            <div class="col-lg-12">
            <button class="u-btn u-btn-submit u-button-style">Отправить ответы</button>
            </div>
  
    </div>
    </section>
  
   
    

  
</body></html>
 