@model MpdaTest.ViewModels.EditingQuestionViewModel;
<title>Редактирование</title>

@switch (Model.Type)
            {
                case "CloseTest":
                                       <form method="post" style="padding: 10px;" asp-action="EditingQuestionSet" asp-controller="Home">
                                       <input type="hidden" value="@Model.Type" required="" asp-for="Type"/>
                                       <input type="hidden" value="@Model.IdTest" required="" asp-for="IdTest"/>
                                       <input type="hidden" value="@Model.editingCloseModel.Id" required="" asp-for="editingCloseModel.Id"  />

                                        <div class="u-form-group u-form-message">
                                          <label for="message-36ae" class="u-label">Текст вопроса</label>
                                          <textarea placeholder="Введите вопрос" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="" asp-for="editingCloseModel.Name">@Model.editingCloseModel.Name</textarea>
                                        </div>

                                        @for (int i = 0; i < Model.editingCloseModel.AnsweT.Count(); i++)
                                        {
                                         <a href="@Url.Action("DeleteAnswerClose", "Home", new { IdTest= Model.IdTest,IdAnswer =Model.editingCloseModel.AnsweT[i].Key, IDques = Model.editingCloseModel.Id, Type= Model.Type })" style="margin-right: 20px" class="submit-btn">Удалить Ответ</a>
                                         <input placeholder="Введите вопрос" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" value="@Model.editingCloseModel.AnsweT[i].Value" required="" asp-for="editingCloseModel.AnsweT[i].Value" type="text"   />
                                         <input type="hidden" value="@Model.editingCloseModel.AnsweT[i].Key" required="" asp-for="editingCloseModel.AnsweT[i].Key"  />
                                        }
                                         

                                        <div class="u-form-group u-form-textarea u-form-group-5">
                                          <label for="textarea-ed30" class="u-label">Ответы</label>
                                          <textarea class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" asp-for="editingCloseModel.NewQues"></textarea>
                                        </div>
                                         <div class="u-form-checkbox u-form-group u-form-group-2">
                                          <input type="checkbox" value="@Model.editingCloseModel.IsRec" asp-for="editingCloseModel.IsRec">
                                          <label for="checkbox-3fcb" class="u-label">Обязательный вопрос</label>
                                        </div>
                                        <p class="news__item-date" style="text-align: left;">*При пустом поле "Ответы" и удалении всех имеющихся ответов, автоматически присваиваются варианты ответов от 1 до 5*</p>
                                        <p class="news__item-date" style="text-align: left;">*Каждая новая строка в поле ответ соответсвует варианту ответа по возрастанию от 1*</p>
                                         <button class="u-btn u-btn-submit u-button-style">Изменить</button>


                         </form>

                    

                    break;

                case "OpenTest":

                                    <form method="post" style="padding: 10px;" asp-action="EditingQuestionSet" asp-controller="Home">
                                        <input type="hidden" value="@Model.Type" required="" asp-for="Type"/>
                                       <input type="hidden" value="@Model.IdTest" required="" asp-for="IdTest"/>
                                       <input type="hidden" value="@Model.editingOpenModel.Id" required="" asp-for="editingOpenModel.Id" />


                                        <div class="u-form-group u-form-message">
                                          <label for="message-36ae" class="u-label">Текст вопроса</label>
                                          <textarea asp-for="editingOpenModel.Name" placeholder="Введите вопрос" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="" ></textarea>
                                        </div>

                                        <div class="u-form-checkbox u-form-group u-form-group-2">
                                          <input type="checkbox" asp-for="editingOpenModel.IsRec" value="@Model.editingOpenModel.IsRec">
                                          <label for="checkbox-3fcb" class="u-label">Обязательный вопрос</label>
                                        </div>
                                         <button class="u-btn u-btn-submit u-button-style">Изменить</button>
                                        

                                    </form>

                   
                    break;

                case "TableTest":
                                      <form method="post" asp-action="CreateTable" style="padding: 10px;" asp-action="EditingQuestionSet" asp-controller="Home">
                                       <input type="hidden" value="@Model.Type" required="" asp-for="Type"/>
                                       <input type="hidden" value="@Model.IdTest" required="" asp-for="IdTest"/>
                                       <input type="hidden" value="@Model.editingTableModel.Id" required="" asp-for="editingTableModel.Id" />
                                          
                                       
                                       <div class="u-form-group u-form-message">
                                            <h2 for="message-63ce" class="u-label">Название таблицы</h2>
                                          <textarea class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="" asp-for="editingTableModel.Name">@Model.editingTableModel.Name</textarea>
                                          </div>
                                          <div class="u-form-group u-form-message">
                                          <h2 for="message-63ce" class="u-label">Описание первой ячейки</h2>
                                          <textarea class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="" asp-for="editingTableModel.Desc">@Model.editingTableModel.Desc</textarea>
                                        </div>
                                        <h2 for="message-63ce" class="u-label">Вопросы</h2>

                                        @for (int i = 0; i < @Model.editingTableModel.QuesList.Count(); i++)
                                        {
                                             <a href="@Url.Action("DeleteQuesTable", "Home", new { IdTest= Model.IdTest,IdAnswer =Model.editingTableModel.QuesList[i].Key, IDques = Model.editingTableModel.Id, Type= Model.Type })" style="margin-right: 20px" class="submit-btn">Удалить Вопрос</a>
                                             <input placeholder="Введите вопрос" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="" type="text" asp-for="editingTableModel.QuesList[i].Value" value="@Model.editingTableModel.QuesList[i].Value" />
                                             <input type="hidden" value="@Model.editingTableModel.QuesList[i].Key" required="" asp-for="editingTableModel.QuesList[i].Key"  />
                                        
                                        }
                                        
                                         
                                         
                                         <h2 for="message-63ce" class="u-label">Темы</h2>
                                         
                                         @for (int i = 0; i < Model.editingTableModel.AnswerList.Count(); i++)
                                         {
                                             <a href="@Url.Action("DeleteAnswerTable", "Home", new { IdTest= Model.IdTest,IdAnswer =Model.editingTableModel.AnswerList[i].Key, IDques = Model.editingTableModel.Id, Type= Model.Type })" style="margin-right: 20px" class="submit-btn">Удалить ответ</a>
                                             <input placeholder="Введите вопрос" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="" value="@Model.editingTableModel.AnswerList[i].Value" asp-for="editingTableModel.AnswerList[i].Value" type="text"  />
                                             <input type="hidden" value="@Model.editingTableModel.AnswerList[i].Key" asp-for="editingTableModel.AnswerList[i].Key" required=""  />
                                         }
                                         
                                         

                                        <div class="u-form-group u-form-message">
                                          <label for="message-63ce" class="u-label">Темы</label>
                                          <textarea class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" id="Themes" name="Themes">
</textarea>
                                        </div>
                                        <div class="u-form-group u-form-textarea u-form-group-5">
                                          <label for="textarea-ed30" class="u-label">Вопросы</label>
                                          <textarea class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" id="Q" name="Q">
</textarea>
                                        </div>
                                        <div class="u-form-checkbox u-form-group u-form-group-2">
                                          <input type="checkbox" checked="checked" asp-for="editingTableModel.IsRec" value="@Model.editingTableModel.IsRec">
                                          <label for="checkbox-3fcb" class="u-label">Обязательный вопрос</label>
                                        </div>
                                        <button class="u-btn u-btn-submit u-button-style">Изменить</button>

                                      <input name="__RequestVerificationToken" type="hidden" value="CfDJ8CEDsjbd98hFo8FUJsvNGV_Qh7XcP67MJ7bxdgY5Vcuk3Pywloo4J58zx1JgMu-_lajJR78ApWJakW_0Blree13hGLG0ydIE5Ot_RSGRKav73puKJw9CPHnkR-KOX1gdVk39AqvLrlYzOA3-kqrKC_8" /><input name="tableModel.IsRec" type="hidden" value="false"></form>

                    
                    break;

            }