@model MpdaTest.ViewModels.EditingQuestionViewModel;
<title>Редактирование</title>

@switch (Model.Type)
            {
                case "CloseTest":
                                       <form method="post" style="padding: 10px;" asp-action="EditingQuestionSet" asp-controller="Home">
                                       <input type="hidden" value="@Model.Type" required="" asp-for="Type"/>
                                       <input type="hidden" value="@Model.IdTest" required="" asp-for="IdTest"/>
                                       <input type="hidden" value="@Model.editingCloseModel.Id" required="" asp-for="editingCloseModel.Id"  />

                                        <div class="u-form-group u-form-message">
                                          <label for="message-36ae" class="u-label">Текст вопроса</label>
                                          <textarea placeholder="Введите вопрос" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="" asp-for="editingCloseModel.Name">@Model.editingCloseModel.Name</textarea>
                                        </div>

                                        @for (int i = 0; i < Model.editingCloseModel.AnsweT.Count(); i++)
                                        {
                                         <a href="@Url.Action("DeleteAnswerClose", "Home", new { IdTest= Model.IdTest,IdAnswer =Model.editingCloseModel.AnsweT[i].Key, IDques = Model.editingCloseModel.Id, Type= Model.Type })" style="margin-right: 20px" class="submit-btn">Удалить Ответ</a>
                                         <input placeholder="Введите вопрос" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" value="@Model.editingCloseModel.AnsweT[i].Value" required="" asp-for="editingCloseModel.AnsweT[i].Value" type="text"   />
                                         <input type="hidden" value="@Model.editingCloseModel.AnsweT[i].Key" required="" asp-for="editingCloseModel.AnsweT[i].Key"  />
                                        }
                                         

                                        <div class="u-form-group u-form-textarea u-form-group-5">
                                          <label for="textarea-ed30" class="u-label">Ответы</label>
                                          <textarea class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" asp-for="editingCloseModel.NewQues"></textarea>
                                        </div>
                                         <div class="u-form-checkbox u-form-group u-form-group-2">
                                          <input type="checkbox" value="@Model.editingCloseModel.IsRec" asp-for="editingCloseModel.IsRec">
                                          <label for="checkbox-3fcb" class="u-label">Обязательный вопрос</label>
                                        </div>
                                        <p class="news__item-date" style="text-align: left;">*При пустом поле "Ответы" и удалении всех имеющихся ответов, автоматически присваиваются варианты ответов от 1 до 5*</p>
                                        <p class="news__item-date" style="text-align: left;">*Каждая новая строка в поле ответ соответсвует варианту ответа по возрастанию от 1*</p>
                                         <button class="u-btn u-btn-submit u-button-style">Изменить</button>


                         </form>

                    

                    break;

                case "OpenTest":

                                    <form method="post" style="padding: 10px;" asp-action="EditingQuestionSet" asp-controller="Home">
                                        <input type="hidden" value="@Model.Type" required="" asp-for="Type"/>
                                       <input type="hidden" value="@Model.IdTest" required="" asp-for="IdTest"/>
                                       <input type="hidden" value="@Model.editingOpenModel.Id" required="" asp-for="editingOpenModel.Id" />


                                        <div class="u-form-group u-form-message">
                                          <label for="message-36ae" class="u-label">Текст вопроса</label>
                                          <textarea asp-for="editingOpenModel.Name" placeholder="Введите вопрос" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="" ></textarea>
                                        </div>

                                        <div class="u-form-checkbox u-form-group u-form-group-2">
                                          <input type="checkbox" asp-for="editingOpenModel.IsRec" value="@Model.editingOpenModel.IsRec">
                                          <label for="checkbox-3fcb" class="u-label">Обязательный вопрос</label>
                                        </div>
                                         <button class="u-btn u-btn-submit u-button-style">Изменить</button>
                                        

                                    </form>

                   
                    break;

                case "TableTest":
                    
                    
                    break;

            }